
/* :root {
  --cold-greywhite: rgba(255, 255, 255, 1);
  --shadow-700: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
} */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */


body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  overflow-x: hidden;
  /* overflow-y: visible; */
}
/* :root {
  --cold-greywhite: rgba(255, 255, 255, 1);
  --shadow-700: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
} */


/* body{
  font-family: 'Roboto',sans-serif;
} */
